<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cleartype" content="on" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale={{mis}}">
<meta property="og:site_name" content="{{config['artist']}} | {{config['title']}}">
<meta itemprop="name" content="{{config['artist']}} | {{config['title']}}" />
<link href="{{config['icon']}}" rel="shortcut icon" type="image/x-icon">
<link href="{{config['icon']}}" rel="icon" sizes="16x16" type="image/jpeg">
<link href="{{config['icon']}}" rel="icon" sizes="32x32" type="image/jpeg">
<link href="{{config['icon']}}" rel="icon" sizes="48x48" type="image/jpeg">
<link href="{{config['icon']}}" rel="icon" sizes="96x96" type="image/jpeg">
<link href="{{config['icon']}}" rel="icon" sizes="256x256" type="image/jpeg">
<link href="{{config['icon']}}" rel="apple-touch-icon" sizes="180x180">
<link href="{{config['icon']}}" rel="mask-icon" type="image/jpeg">
<meta name="description" content="{{config['description']}}">
<meta property="og:title" content="{{config['artist']}} | {{config['title']}}">
<meta property="og:type" content="music.album">
<meta property="og:image" content="{{config['icon']}}">
<meta property="og:url" content="{{config['website']}}">
<meta property="og:description" content="{{config['description']}}">
<meta property="music:album:track" content="1">
<meta property="music:song" content="{{config['website']}}">
<meta property="music:song:disc" content="1">
<meta property="music:song:track" content="1">
<meta property="music:musician" content="{{config['website']}}">
<meta property="music:release_date" content="2021-01-01">
<meta name="twitter:site" content="@deezer">
<meta name="twitter:url" content="{{config['website']}}">
<meta name="twitter:title" content="{{config['artist']}} | {{config['title']}}">
<meta name="twitter:description" content="{{config['description']}}">
<meta name="twitter:image" content="{{config['icon']}}">
<meta name="twitter:audio:partner" content="{{config['artist']}}">
<meta name="twitter:audio:artist_name" content="{{config['artist']}}">
<meta name="twitter:card" content="audio">
<meta name="twitter:app:name:iphone" content="{{config['title']}}">
<meta name="twitter:app:id:iphone" content="id292738169">
<meta name="twitter:app:url:iphone" content="{{config['website']}}">
<meta property="al:ios:app_name" content="{{config['title']}}">
<meta property="al:ios:app_store_id" content="292738169">
<meta property="al:ios:url" content="{{config['website']}}">
<meta name="twitter:app:name:ipad" content="{{config['title']}}">
<meta name="twitter:app:id:ipad" content="id292738169">
<meta name="twitter:app:url:ipad" content="{{config['website']}}">
<meta name="twitter:app:name:googleplay" content="{{config['title']}}">
<meta name="twitter:app:id:googleplay" content="Deezer.android.app">
<meta name="twitter:app:url:googleplay" content="{{config['website']}}">
<meta property="al:android:app_name" content="{{config['title']}}">
<meta property="al:android:package" content="deezer.android.app">
<meta property="al:android:url" content="{{config['website']}}">
<link rel="search" type="application/opensearchdescription+xml" href="https://cdns-files.dzcdn.net/xml/opensearch.xml" title="{{config['title']}} - {{config['artist']}}">
<link rel="canonical" href="{{config['website']}}">
<link rel="alternate" hreflang="en" href="{{config['website']}}">
<link rel="alternate" hreflang="fr" href="{{config['website']}}">
<link rel="alternate" hreflang="de" href="{{config['website']}}">
<link rel="alternate" hreflang="es-ES" href="{{config['website']}}">
<link rel="alternate" hreflang="it" href="{{config['website']}}">
<link rel="alternate" hreflang="nl" href="{{config['website']}}">
<link rel="alternate" hreflang="pt" href="{{config['website']}}">
<link rel="alternate" hreflang="ru" href="{{config['website']}}">
<link rel="alternate" hreflang="ko" href="{{config['website']}}">
<link rel="alternate" hreflang="pt-BR" href="{{config['website']}}">
<link rel="alternate" hreflang="id" href="{{config['website']}}">
<link rel="alternate" hreflang="pl" href="{{config['website']}}">
<link rel="alternate" hreflang="tr" href="{{config['website']}}">
<link rel="alternate" hreflang="ro" href="{{config['website']}}">
<link rel="alternate" hreflang="ms" href="{{config['website']}}">
<link rel="alternate" hreflang="hu" href="{{config['website']}}">
<link rel="alternate" hreflang="sr" href="{{config['website']}}">
<link rel="alternate" hreflang="th" href="{{config['website']}}">
<link rel="alternate" hreflang="zh" href="{{config['website']}}">
<link rel="alternate" hreflang="ar" href="{{config['website']}}">
<link rel="alternate" hreflang="hr" href="{{config['website']}}">
<link rel="alternate" hreflang="es" href="{{config['website']}}">
<link rel="alternate" hreflang="cs" href="{{config['website']}}">
<link rel="alternate" hreflang="sk" href="{{config['website']}}">
<link rel="alternate" hreflang="sv" href="{{config['website']}}">
<link rel="alternate" hreflang="en-US" href="{{config['website']}}">
<link rel="alternate" hreflang="ja-JP" href="{{config['website']}}">
<link rel="alternate" hreflang="bg" href="{{config['website']}}">
<link rel="alternate" hreflang="da" href="{{config['website']}}">
<link rel="alternate" hreflang="no" href="{{config['website']}}">
<link rel="alternate" hreflang="fi" href="{{config['website']}}">
<link rel="alternate" hreflang="sq" href="{{config['website']}}">
<link rel="alternate" hreflang="sl" href="{{config['website']}}">
<link rel="alternate" hreflang="uk" href="{{config['website']}}">
<link rel="alternate" hreflang="he" href="{{config['website']}}">
<link rel="alternate" hreflang="x-default" href="{{config['website']}}">